**DataFlow Example**

In [0]:
!pip install --upgrade -q gspread

**Authenticate to API**

In [0]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

**Create a Spreadsheet and Put Items in It**

In [0]:
sh = gc.create('pramaticai-test')
worksheet = gc.open('pramaticai-test').sheet1
cell_list = worksheet.range('A1:A10')

import random
count = 0
for cell in cell_list:
  count +=1
  cell.value = count
worksheet.update_cells(cell_list)

**Convert Spreadsheet Data to Pandas DataFrame**

In [0]:
worksheet = gc.open('pramaticai-test').sheet1
rows = worksheet.get_all_values()
import pandas as pd
df = pd.DataFrame.from_records(rows)

In [22]:
df

    0
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9  10